/*     font-family: 'Black Ops One', cursive;

    font-family: 'Libre Barcode 39 Text', cursive;

    font-family: 'Press Start 2P', cursive;

    font-family: 'Source Code Pro', monospace;
    font-family: 'Redacted Script', cursive;

    font-family: 'Silkscreen', cursive;

*/
html, body{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
main{
    height: 100%;
}
body{
background-image: url("img/8bitPentagram.jpg");
/* background-image: url("img/unhappy.jpg"); */
/* background-size: 50px 50px; */
background-attachment: fixed;
background-size: 37.5px 30px;

font-size: 14px;
}

a{
    text-decoration: none;
    font-family: 'Silkscreen', cursive;
    color:black;
    margin-left: 5px;
}

/* visited link */
 a:visited {
    color: black;

  } 
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }

#main {
    height: 600px;
    width: 943px;
}

#welcome{
    top:10%;
    left: 15%;
    height: 600px;
    /* width: 943px; */
}
/* Construction Notice*/
#notice{
    display: block;
    margin: 10% 20% 0%;
    color: white;
    font-family: 'Black Ops One', cursive;
    font-size: 3.5em;
 
   
}

#remainder{
    display: block;
    font-family: 'Silkscreen', cursive;
    font-size: 2em;
    text-align: center;
    color:red;
    background-color: black;
    max-width: 100%;
    padding: 2%;

}

/*READ ME STYLING*/
#readMe{
    left: 30%;
    top: 0%;
    position: absolute;
}

#document{
    height: 100%;
}
.readme{
    padding: 10px;
}

#signButton{
    position: absolute;
    right: 2%;
    bottom: 2%;
    height: 10%;
}

#continueButton{
    position: absolute;
    right: 2%;
    bottom: 2%;
    height: 10%;
}
/*  */

/*end of READ ME*/

/*To Do List*/

#toDo{
    height: 318px;
    position:absolute;
    left:0px;
    top: 0px;
  
  }
  
  #toDo img{
      height: 318px;
  }
  
  #list{
      position: absolute;
      left: 10px;
      top: 40px;
      font-family: 'Source Code Pro', monospace;
      color: darkslategray;
  }
  
  #list label{
      display: block;
      padding-top: 20px;
  }
  
label:hover{
    color: hotpink;
} 

input:checked + label {
    color: red;
  }


#mouse{
    height: 300px;
    width: 316px;

    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.window{
    
    display: inline;
    position: absolute;
    animation: open;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    height: 100%;
}

.closing-window{ /*doesn't work yet*/
    animation: close;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    
}

#startOver{
    position:absolute;
    bottom: 15px;
    right: 18px;
    width: 120px;
    height: 40px;
    display: none;
}

.main{
    height: 100%;
}

.hidden{
    display:none;
}


#errorWindow{
    position: absolute;
    width: 625px;
    height: 369px;
    top: 100px;
    left: 20px;
    z-index: 1;
}

/*interludes*/
#codeWindow{
    right: 0px;
    max-width: 500px;
}


video{
    width: 500px;
    height: 300px;
    /* top:500px; */
    right: 100px;
}

.folders{ /*div that holds folders*/
    position: absolute;
    top: 100px;
    left: 20px;
    width: 100%;
    height: 100%;
    
}
.folder{
    padding: 10px;
    /* height: 60px; */
}

.folder-img{
    display:inline-block;
}

.folders img{
    height: 30px;
    width: 41.25px;
}

.unlocked img{
    height: 40px;
    width: 10px;
    margin-left: 10px;
    position:relative;
    top:20px;
    left: -3px;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#unlocked-img{
    width: 10px;
}


.content-0, .content-1, .content-2, .content-3{
    position: relative;
    left: 40px;
    top: 10px;
    padding: 10px;
}

.float{
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#happy_img{
    width: 35px;
    height: 43.75px;
}

#file_image{
    width: 35px;
    height: 43.75px;
}
#mobileWarning{
    visibility: hidden;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90%;
    max-width: 400px;
    max-height:644px;
}

#flames{
    position: absolute;
    bottom: 2px;
    visibility: hidden;
    height: 100px;
    left: 20%;
}

#broken{
    position: absolute;
    left:1000px;
    bottom: 120px;
    height: 285px;
    width: 200px;
    visibility: hidden;
}

#warning3{
    height: 119px;
    width: 330px;
    position: absolute;
    left: 506px;
    top:1px;
    visibility: hidden;
}

.overlay{
  position: fixed; /* Sit on top of the page content */
  visibility: hidden; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(245, 143, 213, 0.677); /* Black background with opacity */
}

#fateSealed{
    position: fixed; /* Sit on top of the page content */
    display:none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    animation: flash;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#triangleLady{
    position:absolute;
    z-index: 1;
    top: 40%;
    left: -100px;
    visibility: hidden;
}

.forbidden{
    font-family: 'Libre Barcode 39 Text', cursive;
    color: red;
    font-size: 22px;
    margin-left: 6px;
}

.forbidden:hover{
    font-family: 'Redacted Script', cursive;
    font-size: 32px;
}


/*ANIMATIONS*/
@keyframes open{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes close{
    0%{transform: scale(1);}
    100%{transform: scale(0); display:none;}
}

@keyframes float{
    0%{ transform: translateY(0px);}
    50%{ transform: translateY(10px);}
    100% { transform: translateY(0px);}
}

@keyframes flash{
    0%{opacity: 0%; display:none;}
    40%{opacity: 100%;}
    60%{opacity: 100%;}
    100%{opacity: 0%; };
}
@media (max-width: 1024px) {
   
#mobileWarning{
   visibility: visible;
} 

.overlay{
    visibility: visible;
}

.window{
    visibility: hidden;
}

/* #notice{
    margin:auto;
    max-width: 100%;
} */

  }
  