/*    font-family: 'Chakra Petch', sans-serif;

    font-family: 'Eczar', serif;

    font-family: 'Source Code Pro', monospace;

*/
html, body{
    width: 100%;
    height: 100%;
}

body{
background-image: url("img/8bitPentagram.jpg");
background-attachment: fixed;
background-size: 50px 40px;
}

a{
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}

#main {
    height: 700px;
    width: 1100px;
}

#welcome{
    top:10%;
    left: 15%;
}
.readme{
    padding: 10px;
}
.window{
    
    display: inline;
    position: absolute;
    animation: open;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    height: 100%;
}

.closing-window{ /*doesn't work yet*/
    animation: close;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    
}

.main{
    height: 100%;
}

.hidden{
    display:none;
}


#errorWindow{
    width: 7625x;
    height: 369px;
    top: 250px;
    left: 20px;
    z-index: 1;
}

/*interludes*/
#codeWindow{
    right: 0px;
}

video{
    width: 500px;
    height: 300px;
    /* top:500px; */
    right: 100px;
}

.folders{ /*div that holds folders*/
    position: absolute;
    top: 100px;
    left: 20px;
    width: 100%;
    height: 100%;
    
}
.folder{
    padding: 10px;
    /* height: 60px; */
}

.folder-img{
    display:inline-block;
}

.folders img{
    height: 40px;
    width: 55px;
}

.unlocked img{
    height: 40px;
    width: 10px;
    margin-left: 10px;
    position:relative;
    top:20px;
    left: -3px;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.content-1, .content-2, .content-3{
    position: relative;
    left: 40px;
    top: 10px;
    padding: 10px;
}

#happy_img{
    width: 40px;
    height: 50px;
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#file_image{
    width: 40px;
    height: 50px;
}

/*animation for opening files*/
@keyframes open{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes close{
    0%{transform: scale(1);}
    100%{transform: scale(0); display:none;}
}

@keyframes float{
    0%{ transform: translateY(0px);}
    50%{ transform: translateY(10px);}
    100% { transform: translateY(0px);}
}